.footer {
  background-color: #7a3145;
  display: flex;
  flex-direction: column;
}
.footer-contanier {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 40px 20px;
  gap: 40px;
}
.footer-first-part {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.first-part-p {
  font-family: "Inter Tight", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #fbfbfb;
}
.footer-nav-ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 14px;
}
.footer-nav-li-a {
  font-family: "Inter Tight", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #fbfbfb;
  text-decoration: none;
}
.address-ul,
.privacy-ul {
  list-style-type: none;
}
.address-li {
  font-family: "Inter Tight", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  color: #fbfbfb;
  font-style: normal;
}
.footer-privacy {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-privacy-alt {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.footer-privacy-a {
  font-family: "Inter Tight", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #d4bfc4;
}
.footer-harvest {
  font-family: "Inter Tight", sans-serif;
  color: #d4bfc4;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}
.privacy-ul {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

@media (min-width: 768px) {
  .footer-first-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 212px;
  }
  .footer-privacy-a {
    font-size: 16px;
  }
  .first-part-green-harvest {
    display: flex;
    flex-direction: column;
  }
  .footer-privacy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-contanier {
    padding: 32px;
  }
  .footer-harvest {
    padding-right: 10px;
  }
  .footer-nav-li-a {
    font-size: 28px;
    line-height: 28px;
  }
  .footer-dunya {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
}
@media (min-width: 1280px) {
  .footer-contanier {
    display: flex;
    flex-direction: column;
    gap: 120px;
  }
  .footer-first-part {
    display: flex;
    flex-direction: row;
    gap: 250px;
  }
  .footer-dunya {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
}
