/* THİRD SECTİON-BERKAN */

.advertisement {
    background-color: #fbfbfb;
    width: 1280px;
    height: 540px;
}

.container {
    width: 1280px;
    height: 440px;
    padding: 100px;
    gap: 10px;
    background-color: #fbfbfb;
    margin: 0 auto;
}

.advertisement-paragraph {
    font-family: "Inter Tight",sans-serif;
    font-size: 76px;
    font-weight: 600;
    line-height: 76px;
    letter-spacing: -0.015em;
    text-align: left;
    text-transform: uppercase;
    left: 16px;
    width: 1054px;
    height: 228px;
}


.advertisement-paragraph > span {
    border-radius: 12px;
    color: #fbfbfb;
    background-color: #576f35;
    width: 808px;
    height: 84px;
} 