/* FOURTH SECTİON-BERKAN */

.vegetables-section {
    background-color: #7a3145;
}

.vegetables-container {
    background-color: #7a3145;
    width: 1280px;
    height: 1232px;
    top: 1984px;
    gap: 52px;
    padding: 100px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
@media (max-width: 768px) {

    .advertisement,
    .vegetables-container {
        width: 100%;
        padding: 20px;
    }
}

.vegetables-block {
    width: 626px;
    height: 192px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.vegetables-header {
    font-family: Inter Tight;
    font-size: 64px;
    font-weight: 600;
    height: 64px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #fbfbfb;
}

.vegetables-header-vegetables {
    font-family: Inter Tight;
    font-size: 64px;
    font-weight: 626;
    height: 40px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #d4bfc4;
    

}

.vegetables-paragraph {
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    height: 20px;
    text-align: left;
    color: #fbfbfb;
}

.vegetables-content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    /*justify-content: center; */
}

.card {
    flex: 1 1 calc(33.333% - 40px);
    width: 344px;
    height: 380px;
    padding: 32px;
    gap: 8px;
    border-radius: 40px;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(0.9);
}

.card-container {
    margin: 0 auto;
}

.card-text-container {
    gap: 8px;
    flex-direction: column;

}

.card-head {
    font-family: Inter Tight;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #7a3145;
    margin-bottom: 12px;

}

.card-p {
    font-family: Inter Tight;
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;

}

.card-img {
    width: 280px;
    max-width: 244px;


}