*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Negin */
body {
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 500;
  min-width: 1280px;
  width: 100%;
}

body b {
  font-weight: 700;
  color: #141414;
}

h1 {
  font-size: 76px;
  line-height: 76px;
  letter-spacing: -0.015em;
  font-weight: 600;
}

h2 {
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -0.015em;
  font-weight: 600;
}

h3 {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.015em;
  font-weight: 600;
}

/* SUMEYYE (HEADER VE MAIN-FIRST-SECTION) mobile-tablet-pc */
/* Sumeyye header ve main first mobile */
.container {
  width: 100%;
  margin: 0 auto;
}

header {
  margin: 0 auto;
  background-color: #576f35;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.header-list-container {
  display: none;
}

.header-logo-title {
  display: flex;
  flex-direction: row;
  gap: 9px;
}

.ninesquares {
  height: 20px;
  width: 20px;
}

.header-title {
  color: #fbfbfb;
  text-transform: uppercase;
}

.header-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
}

.header-button {
  display: none;
}

.menuicon {
  width: 26.67px;
  height: 20px;
}

.section-one-left {
  width: 375px;
  height: 740px;
  padding-left: 20px;
  padding-top: 48px;
  padding-right: 20px;
}

.section-one-left-title {
  width: 704px;
  height: 228px;
  color: #fbfbfb;
  font-weight: 600px;
  size: 76px;
  line-height: 76px;
}

.section-one-left-text {
  width: 603px;
  height: 60px;
  color: #fbfbfb;
  font-weight: 500px;
  size: 16px;
  line-height: 20px;
}

.section-one-right {
  width: 375px;
  height: 372px;
}

.first-section {
  background-color: #576f35;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Sumeyye header ve main first tablet */
@media (min-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  header {
    margin: 0 auto;
    background-color: #576f35;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 32px;
    padding-top: 32px;
    padding-right: 32px;
  }

  .header-list-container {
    display: none;
  }

  .header-logo-title {
    display: flex;
    flex-direction: row;
    gap: 9px;
  }

  .ninesquares {
    height: 20px;
    width: 20px;
  }

  .header-title {
    color: #fbfbfb;
    text-transform: uppercase;
  }

  .header-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
  }

  .header-button {
    color: #fbfbfb;
    background-color: #7a3145;
    padding: 16px 32px;
    border-radius: 30px;
  }

  .menuitems {
    display: flex;
    flex-direction: row;
    color: #fbfbfb;
    gap: 10px;
  }

  .menuitem {
    padding: 12px;
    border: 1px #fbfbfb solid;
    border-radius: 12px;
  }

  .menuicon {
    width: 26.67px;
    height: 20px;
    display: none;
  }

  .section-one-left {
    position: absolute;
    width: 504px;
    height: 564px;
    padding-left: 32px;
    padding-top: 48px;
    padding-right: 32px;
  }

  .section-one-left-title {
    width: 704px;
    height: 228px;
    color: #fbfbfb;
    font-weight: 600px;
    size: 76px;
    line-height: 76px;
    padding-bottom: 24px;
  }

  .section-one-left-text {
    width: 603px;
    height: 60px;
    color: #fbfbfb;
    font-weight: 500px;
    size: 16px;
    line-height: 20px;
  }

  .section-one-right {
    width: 768px;
    height: 536px;
  }

  .first-section {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

/* Sumeyye header ve main first pc */
@media (min-width: 1280px) {
  header {
    margin: 0 auto;
    background-color: #576f35;
  }

  .first-section {
    background-color: #576f35;
    position: relative;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  header {
    margin: 0 auto;
    background-color: #576f35;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 32px;
    padding-top: 32px;
    padding-right: 32px;
    position: absolute;
  }

  .header-list-container {
    display: none;
  }

  .header-logo-title {
    display: flex;
    flex-direction: row;
    gap: 9px;
  }

  .ninesquares {
    height: 20px;
    width: 20px;
  }

  .header-title {
    color: #fbfbfb;
    text-transform: uppercase;
  }

  .header-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
  }

  .header-button {
    color: #fbfbfb;
    background-color: #7a3145;
    padding: 16px 32px;
    border-radius: 30px;
  }

  .menuitems {
    display: flex;
    flex-direction: row;
    color: #fbfbfb;
    gap: 10px;
  }

  .menuitem {
    padding: 12px;
    border: 1px #fbfbfb solid;
    border-radius: 12px;
  }

  .menuicon {
    width: 26.67px;
    height: 20px;
    display: none;
  }

  .section-one-left {
    display: flex;
    position: absolute;
    width: 504px;
    height: 564px;
    padding-left: 32px;
    padding-top: 48px;
    padding-right: 32px;
  }

  .section-one-left-title {
    width: 704px;
    height: 228px;
    color: #fbfbfb;
    font-weight: 600px;
    size: 76px;
    line-height: 76px;
    padding-bottom: 24px;
  }

  .section-one-left-text {
    width: 603px;
    height: 60px;
    color: #fbfbfb;
    font-weight: 500px;
    size: 16px;
    line-height: 20px;
  }

  .section-one-right {
    width: 768px;
    height: 536px;
  }

  .first-section {
    display: flex;
    align-items: flex-end;
    position: relative;
    background-color: #576f35;
    width: 1280px;
    height: 796px;
  }
}

/* SECOND SECTİON-HAYRUNİSA */

/* THİRD SECTİON-BERKAN */

/* FOURTH SECTİON-BERKAN */

/* FİFTH SECTİON-NEGİN */
.review-section {
  background-color: #fbfbfb;
  font-family: "Inter Tight", sans-serif;
  text-decoration: none;
}
.review-div {
  padding: 100px 100px 100px 100px;
}
.review {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.review-h {
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -0.015em;
  margin: 0;
}
.review-span {
  color: #576f35;
}
.review-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #141414;
}
.customer-ul {
  display: flex;
  flex-direction: row;
  /* gap: 24px; */
  margin: 0;
  padding: 0;
  gap: 24px;
}
.customer-li {
  border: 1px solid #d4bfc4;
  border-radius: 24px;
  gap: 8px;
  list-style-type: none;
}
.customer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 20px 20px;
}

.img-h {
  font-weight: 600px;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.015em;
  text-align: center;
  margin: 0;
  margin-top: 24px;
  gap: 8px;
}
.img-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #858585;
}

/* SİXTH SECTİON-EMRE */

/* FOOTER-AHMET */
